.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.left-header{
    display: flex;
    align-items: center;
}

.left-header img{
    object-fit: contain;
    height: 40px;
    margin-left: -5px;
}

.middle-header{
    display: flex;
    align-items: center;
    flex:0.7;
    padding: 10px;
    border-radius: 5px;
}

.middle-header .MuiSvgIcon-root{
    color: #79A9DB;
}

.middle-header input{
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
    color: #39AE8A;
}

.right-header{
    display: flex;
    padding-right: 20px;
}